@model ContactsViewModel
@{
    ViewData["Title"] = "Contacts";
}

<section class="text-center">
    <h1 class="display-4">Contacts</h1>
    <p>A contacts table goes here</a>.</p>
    <input
        id="search"
        type="search"
        name="q"
        value="@Model.Query"
        placeholder="Search..."
        hx-get="@Url.Action("List", "Contacts")"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#contacts"
        hx-swap="innerHTML"
        hx-push-url="true"
    />
    <ul id="contacts">
        <partial name="ContactItems.cshtml" />
    </ul>
</section>
