.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

/* Header */
.hero {
    background-color: #394046;
  }

body>footer, body>header, body>main {
    padding: calc(2rem)
}