@model ContactEditModel
@{
    ViewData["Title"] = "Edit Contact";
}

<section class="text-center">
    <h1 class="display-4">Edit Contact</h1>
    <p>This is the contact edit screen</a>.</p>
    <form action="/contacts/@Model.Id/edit" method="POST">
        <input type="hidden" id="Id"  name="Id" value="@Model.Id" />

        <partial name="Contactform.cshtml" />

        <input type="submit" value="Submit"/>
    </form>
    <a href="@Url.Action("ViewContact", new { Id = @Model.Id })" role="button">Cancel</a>
</section>
